body{
    background-color: yellowgreen;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.cant{
    background-color: darkcyan;
    color: aliceblue;
    padding: 10px;
    border-radius: 7px;
    text-align: center;

}
.currencycant{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.currencycant select{
    padding: 10px;

}
.currencycant input{
    border: 0;
    background: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;

}
h1{
    font-size: 40px;
}
.exchangerate{
    font-size: 16px;
    font-weight: 700;

}

select:focus,input:focus{
    outline: 0;

}